
.event-list{
-webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.77); 
box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.77);
background-color:#C4C6CF;
border: 3px solid #AEC6CF;
}

th, td {
  vertical-align: middle;
}