.container {
    position: relative;
}

.container .container-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(images/pie-chart.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.1;
}

.container .content {
    position: relative;
    z-index: 1;
}
